annotated-types==0.7.0
anyio==4.9.0
asgiref
Brotli
certifi
cffi
charset-normalizer==3.4.2
cmdstanpy
colorama
contourpy
convertdate
cycler
Cython>=0.29,!=0.29.18,!=0.29.31
numpy>=1.21.2
deprecation==2.1.0
Django
django-cors-headers==4.7.0
djangorestframework
exceptiongroup==1.3.0
fonttools
gotrue==2.12.3
h11==0.16.0
h2 
holidays
hpack 
httpcore==1.0.9
httpx==0.28.1
hyperframe
idna==3.10
importlib_resources
joblib>=0.11
kiwisolver
matplotlib==3.9.2
munkres==1.1.4
narwhals==1.45.0
olefile
packaging>=17.1
pandas>=0.19
patsy 
Pillow
plotly==6.2.0
postgrest==1.1.1
prophet 
pycparser
pydantic==2.11.7
pydantic_core==2.33.2
PyJWT==2.10.1
PyMeeus 
pyparsing 
PySocks 
python-dateutil
pytz
realtime==2.5.3
requests==2.32.4
setuptools>=38.6.0,!=50.0.0
scikit-learn>=0.22
scipy>=1.3.2
six 
sniffio==1.3.1
sqlparse
stanio 
statsmodels>=0.13.2
storage3==0.12.0
StrEnum==0.4.15
supabase==2.16.0
supafunc==0.10.1
threadpoolctl
tqdm
typing-inspection==0.4.1
typing_extensions
tzdata
unicodedata2
urllib3
websockets==15.0.1
xgboost
zipp
zstandard==0.23.0
gunicorn
pmdarima
# Any other libraries you're using
